<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">  
  <ros2_control name="Crobot" type="system">
    <hardware>
      <!-- <xacro:if value="$(arg sim_mode)">
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </xacro:if> -->
      <xacro:if value="$(arg sim_mode)">
        <plugin>ign_ros2_control/IgnitionSystem</plugin>
      </xacro:if>
      <xacro:unless value="$(arg sim_mode)">
        <plugin>crobot_hardware/CrobotHardware</plugin>

        <param name="front_left_wheel_name">front_left_wheel_joint</param>
        <param name="front_right_wheel_name">front_right_wheel_joint</param>
        <param name="back_left_wheel_name">back_left_wheel_joint</param>
        <param name="back_right_wheel_name">back_right_wheel_joint</param>

        <param name="front_left_ankle_name">front_left_ankle_joint</param>
        <param name="front_right_ankle_name">front_right_ankle_joint</param>
        <param name="back_left_ankle_name">back_left_ankle_joint</param>
        <param name="back_right_ankle_name">back_right_ankle_joint</param>

        <param name="imu_name">base_to_imu_joint</param>

        <param name="sweeper_name">sweeper_joint</param>
        <param name="winch_name">winch_joint</param>

        <!-- TODO: Confirm parameters -->
        <param name="loop_rate">30.0</param>
        <param name="dev">/dev/ttyTHS1</param> <!-- ttyTHS1 for uart1; ttyACM0 for usb-->
        <param name="baud_rate">115200</param>
        <param name="timeout_ms">5</param>
        <param name="wheel_radius">0.035</param> <!-- meters -->
        <param name="max_wheel_speed_meters">0.36</param> <!-- m/s corresponding to full command (255) -->
      </xacro:unless>
    </hardware>
    <joint name="front_left_ankle_joint">
      <command_interface name="position"/>
      <!-- <state_interface   name="position"/> -->
    </joint>
    <joint name="front_right_ankle_joint">
      <command_interface name="position"/>
      <!-- <state_interface   name="position"/> -->
    </joint>
    <joint name="back_left_ankle_joint">
      <command_interface name="position"/>
      <!-- <state_interface   name="position"/> -->
    </joint>
    <joint name="back_right_ankle_joint">
      <command_interface name="position"/>
      <!-- <state_interface   name="position"/> -->
    </joint>
    <joint name="front_left_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface   name="velocity"/>
      <state_interface   name="position"/>
    </joint>
    <joint name="front_right_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface   name="velocity"/>
      <state_interface   name="position"/>
    </joint>
    <joint name="back_left_wheel_joint">
      <command_interface name="velocity"/>
      <!-- <state_interface   name="velocity"/> -->
      <!-- <state_interface   name="position"/> -->
    </joint>
    <joint name="back_right_wheel_joint">
      <command_interface name="velocity"/>
      <!-- <state_interface   name="velocity"/> -->
      <!-- <state_interface   name="position"/> -->
    </joint>
    <joint name="sweeper_joint">
      <command_interface name="position"/>
      <!-- <state_interface   name="position"/> -->
    </joint>
    <joint name="winch_joint">
      <command_interface name="velocity"/>
      <!-- <state_interface   name="velocity"/> -->
    </joint>
    <joint name="base_to_imu_joint">
      <state_interface   name="velocity"/>
    </joint>
<!-- 
    <joint name="flagdropper_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint> -->
  </ros2_control>
     
  <xacro:if value="$(arg sim_mode)">
    <gazebo>
      <!-- <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find crobot_controller)/config/gazebo_ros2_control_use_sim.yaml</parameters>
      </plugin> -->
      <plugin filename="ign_ros2_control-system" 
            name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find crobot_controller)/config/gazebo_ros2_control_use_sim.yaml</parameters>
      </plugin>
      <plugin filename="ignition-gazebo-odometry-publisher-system"
            name="ignition::gazebo::systems::OdometryPublisher">
      <odom_frame>odom</odom_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <odom_publish_frequency>50</odom_publish_frequency>
    </plugin>
    </gazebo>
  </xacro:if>
</robot>